
                <div class="field">
                  <%= f.label :groupement %>
                  <%= f.select :groupement_id, Groupement.all.map{|g| [g.title, g.id] }, class: 'form-control' %><br />
                </div>       

                <div class="field">
                  <%= f.label :title %>
                  <%= f.text_field :title, class: 'form-control' %><br />
                </div>                

                <div class="field">
                  <%= f.label :amount %>
                  <%= f.text_field :amount, class: 'form-control' %><br />
                </div>       

                <div class="field">
                  <%= f.label :position %>
                  <%= f.text_field :position, class: 'form-control' %><br />
                </div>       

                <div class="field">
                  <%= f.label :timeout %>
                  <%= f.text_field :timeout, class: 'form-control' %><br />
                </div>       
                

                <div class="actions">
                  <%= f.submit "Add Pool", class: 'btn btn-primary' %>
                </div>