<%- for group in groupements do %>      
  <div class="container paddingBottom-10">
    <h1 class="title block"><%= group.title %></h1>

    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs" role="tablist">
        <%- group.pools.each_with_index do |p,i| %>
          <li class="<%= 'active' if i.zero? %>">
            <a href="#tab-pool-<%= "#{group.id}-#{p.id}" %>" role="tab" data-toggle="tab"><%= p.title %></a>
          </li>            
        <%- end %>
      </ul>
      <div class="tab-content">

        <div class="tab-pane active">
          <div class="table-responsive">
            <table class="table table-hover table-dash ">
              <thead>
                <tr>
                  <th>Sending</th>
                  <th>Receiving</th>
                  <th>Completed</th>
                  <!--
                  <th>Timeout</th>
                  -->
                </tr>
              </thead>
              <tbody>
                <%- group.pools.each_with_index do |p,i| %>
                POOL AMOUNT: <%= p.amount %>
                <tr>
                  <td>
                    <%- for a in p.accounts.feeder do %>
                    <div class="flex">
                      <figure class="item-img m-r-10">
                        <a href="#"><i class="fa fa-user text-lg"></i></a>
                      </figure>
                      <div class="item-desc">
                        <a href="#">
                          <strong><%= a.member.account_holder_name %></strong>
                        </a><br>
                        <i class="fa fa-credit-card"></i> <%= a.member.bank.title %> | <%= a.member.account_number %>
                      </div>
                    </div>
                    <%- end %>
                  </td>
                  <td>
                    <%- for a in p.accounts.eater.order(:pool_order) do %>
                      <div class="flex">
                      <%= form_tag change_pool_order_path(a) do %>
                        <%= select_tag :pool_order, options_for_select((0..p.accounts.eater.count).to_a, a.pool_order), class: 'form-control', onclick: 'this.form.submit()' %>
                      <%- end %>                         
                        <figure class="item-img m-r-10">
                          <a href="#"> &nbsp; <i class="fa fa-user text-lg"></i></a>
                        </figure>
                        <div class="item-desc">
                          <a href="#">
                            <strong><%= a.member.account_holder_name %></strong>
                          </a><br>
                          <i class="fa fa-credit-card"></i> <%= a.member.bank.title %> | <%= a.member.account_number %>
                        </div>
                      </div>
                    <%- end %>
                  </td>
                  <td>
                    <%- for a in p.accounts.completed do %>
                      <div class="flex">                   
                        <figure class="item-img m-r-10">
                          <a href="#"> &nbsp; <i class="fa fa-user text-lg"></i></a>
                        </figure>
                        <div class="item-desc">
                          <a href="#">
                            <strong><%= a.member.account_holder_name %></strong>
                          </a><br>
                          <i class="fa fa-credit-card"></i> <%= a.member.bank.title %> | <%= a.member.account_number %>
                        </div>
                      </div>
                    <%- end %>
                  </td>                  
                  <!--
                  <td>
                  </td>
                  <td>
                    <b></b>
                  </td>
                  -->
                </tr>
                <%- end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>
      
    </div>
  </div>
<%- end %>
