                <div class="tiles-body">
                  <h3 class="text-white m-b-30"> 
                    <%- if !@current_transaction.sender_confirmed? %>
                      <span class="semi-bold"><%= timeout_wording(@current_transaction) %></span> 
                        <%= @current_transaction.feeder.name %> to send 
                      <span class="semi-bold"><%= number_to_currency @current_transaction.value %></span>
                    <%- else %>
                      <span class="semi-bold"><%= timeout_wording(@current_transaction) %></span> 
                         for you to confirm 
                      <span class="semi-bold"><%= number_to_currency @current_transaction.value %></span>               
                    <%- end %>
                    <i class="fa fa-chevron-circle-left"></i>
                  </h3>

                  <div class="overlayer bottom-right fullwidth">
                    <div class="overlayer-wrapper">
                      <div class=" p-l-20 p-r-20 p-b-20 p-t-20">
                        
                          <div class="pull-right"> 
                            <a href="<%= transaction_path(@current_transaction) %>" class="btn text-uppercase btn-primary btn-lg btn-outline-inverse"> 
                              <%- if @current_transaction.sender_confirmed? %>
                                Confirm
                              <%- else %>
                                Detail
                              <%- end %>
                            </a>
                          </div>                      
                        
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>