<section class="content-section dashboard-public m-t-10">
  <div class="container p-b-10">
    <%= render 'layouts/notice' %>
    <%- if current_member.accounts.any? and @current_account.present? %>
      <%= render 'dashboard/summary' %>
    <%- end %>
  </div>

  <div class="container p-t-10 p-b-10">
    <div class="row no-gutters m-t-10">
      <%- if current_member.accounts.any? %>
        <%= render 'dashboard/current', current_transaction: @current_transaction if @current_transaction.present? %>

        <%- for trx in @current_transactions do %>
          <%= render 'dashboard/current', current_transaction: trx %>
        <%- end %>

        <%= render 'dashboard/sections/waiting' if @current_transaction.blank? %>
      <%- else %>
        <%= render 'dashboard/sections/empty' %>
      <%- end %>

      <%- if current_member.accounts.any? %>
        <%= render 'dashboard/recent' if @transaction_history.present? %>
      <%- end %>
    </div>
  </div>
</section>