      
      <div class="container container--large padding-top-90">
          <h1 class="title block">Account Setting</h1>
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#ac-tab-1" role="tab" data-toggle="tab">Profile</a>
            </li>
            <li>
              <a href="#ac-tab-2" role="tab" data-toggle="tab">Password</a>
            </li>
            <li>
              <a href="#ac-tab-3" role="tab" data-toggle="tab">Notification</a>
            </li>
          </ul>
          <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="#grid-config" data-toggle="modal" class="config"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
          </div>
          <div class="tab-content">
            <div class="tab-pane active max-500" id="ac-tab-1">
              <div class="box-inset--side">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <%= render 'member/form', f: f %>
                
               <div class="actions">
                  <%= f.submit "Update Profile", class: 'btn btn-primary' %>
                </div>                
              <% end %>
              </div>
            </div>
            <div class="tab-pane max-500" id="ac-tab-2">
              <div class="box-inset--side">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.label :email %>
                  <%= f.email_field :email, class: 'form-control' %><br />
                </div>         

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control' %><br />
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %><br />
                </div>

                <div class="field">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %><br />
                </div>

                <div class="actions">
                  <%= f.submit "Change Password", class: 'btn btn-primary' %>
                </div>
              <% end %>
              </div>
            </div>
            <div class="tab-pane max-500" id="ac-tab-3">
              <div class="box-inset--side">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.label :sms_notification %>
                  <%= f.check_box :sms_notification, class: 'form-control' %><br />
                </div>
                <div class="field">
                  <%= f.label :email_notification %>
                  <%= f.check_box :email_notification, class: 'form-control' %><br />
                </div>

                <div class="actions">
                  <%= f.submit "Save Changes", class: 'btn btn-primary' %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
      </div>


<%- page_title 'Account Setting' %>