      <div class="container padding-top-90">
        <div class="row">
          <div class="col-md-12">

              <%= render 'layouts/notice' %>
              <h2 class="color-secondary font-bold">Sign up</h2>

              <%- resource.referrer_code = params[:referrer_code] if params[:referrer_code].present? %>
              
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <%= render 'members/member_account', f: f %>              

                <div class="actions">
                  <%= f.submit "Sign up", class: 'btn btn-primary' %>
                </div>
              <% end %>
              <br/>
              <%= render "devise/shared/links" %>
          </div>
        </div>
        <hr/>
      </div>

<%- page_title 'Signup your account' %>