<%- for t in @transaction_history do %>
<%- target = t.eater.member == current_member ? t.feeder : t.eater %>
<tr onclick="window.document.location='<%= transaction_path(t) %>';">
  <!--
  <td></td>
  -->
  <td><label class="label label-success"><%= number_to_currency t.value %>&nbsp;<i class="fa fa-chevron-circle-<%= t.eater.member == current_member ? 'left' : 'right' %>"></label></td>
  <td>
  	<span class="font-bold"><%= target.name %></span><br/>
  	<%= target.member.full_name %>
  </td>
  <td>
  	<%= target.member.bank.try(:title).to_s %> <br/>
  	<%= target.member.account_number.to_s %> <br/>
  	<%= target.member.account_holder_name %>
  </td>
  <!--
  <td></td>
  -->
  
  <td>
  	<label class="label label-default">
  		<small><%= t.status.upcase %></small>
  	</label>
  	<br/>
  	<label class="font-bold p-t-10">
  	<%= t.completed_date ||= "N/A" %>
  	</label>
  </td>  
  <!--
  <td><a class="btn btn-default btn-sm text-white" href="<%= transaction_path(t) %>"><i class="fa fa-search-plus "></i> more</a></td>
  -->
</tr>
<%- end %>