<%- for t in @transaction_history do %>
<%- target = t.eater.member == current_member ? t.feeder : t.eater %>
<tr>
  <td><%= target.member == current_member ? "SENT" : "RECEIVE" %></td>
  <td><%= t.completed_date ||= "N/A" %></td>
  <td><%= target.name %></td>
  <td><%= target.member.bank.try(:title).to_s + " " + target.member.account_number.to_s %></td>
  <td><%= target.member.account_holder_name %></td>
  <td><label class="label label-success"><%= number_to_currency t.value %></label></td>
  <td><a class="btn btn-default btn-sm" href="<%= transaction_path(t) %>"><i class="fa fa-search-plus "></i> show</a></td>
</tr>
<%- end %>