      <div class="container padding-top-90">
        <div class="row">
          <div class="col-md-12">
            <%= render 'layouts/notice' %>
            <h1 class="title block">Transactions</h1>

              <%- for transaction in @transactions do %>
              <hr/>
              <div class="row">
              <div class="col-md-12">
                <div class="tiles white">
                  <div class="row">
                      <div class="col-md-4 col-sm-4 p-t-10" style="background-color: #F76F76">
                        <p class="no-margin">RECEIVER</p>
                        <h4>
                          <span class="item-count text-white">
                            <i class="fa fa-user"></i>&nbsp;<%= transaction.eater.name %> (<%= transaction.eater.member.full_name rescue "N/A" %>)
                          </span> 
                        </h4>
                        <p class="text-white">
                          <i class="fa fa-bank"></i>&nbsp;
                          <%= transaction.eater.member.bank.title rescue "N/A" %> <br/>
                          <%= transaction.eater.member.account_number rescue "N/A" %> <br/>
                          <%= transaction.eater.member.account_holder_name rescue "N/A" %>
                        </p>
                      </div>
                      <div class="col-md-4 p-t-10">
                        <p class="semi-bold">SENDER</p>
                        <h4>
                          <span class="item-count">
                            <i class="fa fa-user"></i>&nbsp;<%= transaction.feeder.name %> (<%= transaction.feeder.member.full_name  rescue "N/A"%>)
                          </span>
                        </h4>
                        <p>       
                          <i class="fa fa-bank"></i>&nbsp;
                          <%= transaction.feeder.member.bank.title rescue "N/A" %> <br/>
                          <%= transaction.feeder.member.account_number rescue "N/A" %> <br/>
                          <%= transaction.feeder.member.account_holder_name rescue "N/A" %>                          
                        </p>
                      </div>

                      <div class="col-md-4 p-t-10">
                        <p class="semi-bold">AMOUNT</p>
                        <h3><span class="item-count semi-bold">
                          <span class="label label-success label-lg"><%= number_to_currency transaction.value %></span>
                          <span class="label label-danger label-lg"><%= time_ago_in_words transaction.timeout_datetime.to_s(:short) %> left</span>
                        </h3>
                        <span>
                          <i class="fa fa-clock-o"></i>
                          <%= transaction.timeout_datetime.to_s(:short) %></span><br/>
                      </div>

                      <div class="clearfix"></div>
                  </div>
                  <table class="table no-more-tables m-l-20">
                    <thead style="display:none">
                      <tr>
                        <th style="width:45%"></th>
                        <th style="width:45%"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="v-align-middle red pull-left">

                        </td>
                        <td class="v-align-middle bold text-success pull-right">
                          <span class="label label-default">
                            <i class="fa fa-exchange"></i>
                            <%= transaction.status.upcase %>
                          </span>
                        </td>                        
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
              <%- end %>
          </div>
        </div>
        
      </div>
      </div>

<%- page_title 'Transactions' %>