    <section class="content-section dashboard margin-top-50">
      <br/>
      <div class="container p-0">
        <div class="row">
          <div class="card col-12 col-sm-8 offset-sm-2">
            <div class="card-panel bg-white  text-grey p-0">
            </div>
          </div>
        </div>
      </div>
      <%- target = @transaction.eater.member == current_member ? @transaction.feeder : @transaction.eater %>
      <div class="container p-0">
        <div class="row">
          <div class="card col-12 col-sm-8 offset-sm-2">
            <%= render 'layouts/notice' %>
            <h1 class="title block">Send Money</h1>

            <div class="row">
              <div class="col-12 p-0">
                <ul class="details list-group">
                  <li class="list-group-item">
                    <div class="container-fluid no-gutters padding-0">
                      <div class="row no-gutters">
                      <div class="col-5">Amount</div>
                      <div class="col-7"><label class="details-text"><%= number_to_currency @transaction.value %> </label></div>
                      </div>
                    </div>
                  </li>                
                  <li class="list-group-item">
                    <div class="container-fluid no-gutters padding-0">
                      <div class="row no-gutters">
                      <div class="col-5">Account Name</div>
                      <div class="col-7"><label class="details-text"><%= target.member.try(:account_holder_name) %> </label></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="container-fluid no-gutters padding-0">
                      <div class="row no-gutters">
                      <div class="col-5">Bank Name</div>
                      <div class="col-7 text-uppercase"><label class="details-text"><%= target.member.bank.title %></label></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="container-fluid no-gutters padding-0">
                      <div class="row no-gutters">
                      <div class="col-5">Account Number</div>
                      <div class="col-7 text-uppercase"><label class="details-text"><%= target.member.account_number %></label></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

            <%= form_tag upload_receipt_path(@transaction.id), multipart: true do %>
            <div class="row">
              <div class="col-12 p-0">
                <div class="field">
                  <br/><br/>
                  <%= label_tag :transfer_receipt, 'Confirm your transaction by uploading transfer receipt', class: 'text-bold' %>
                  <%= file_field_tag :receipt, class: 'text-center width-100pct' %><br/>
                </div>

                <div class="actions">
                  <%= submit_tag "Confirm", class: 'btn btn-primary p-r-10' %>
                  <a class="btn btn-default p-l-20 p-r-20" href="<%= transaction_path(@transaction) %>">
                    <i class="fa fa-angle-double-left"></i>
                    Transaction Detail
                  </a>
                  <a class="btn btn-default p-l-20 p-r-20" href="<%= dashboard_path %>">
                    <i class="fa fa-angle-double-left"></i>
                    Dashboard
                  </a>                  
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>

<%- page_title 'Send Money' %>