    <section class="content-section dashboard margin-top-50">
      <br/><br/>
      <div class="container p-0">
        <div class="row">
          <div class="card col-12 col-sm-8 offset-sm-2">
            <div class="card-panel bg-white  text-grey box-shadow p-0">
              <button type="button" class="btn btn-link btn-sm text-grey padding-left-0"><i class="fa fa-chevron-left"></i></button>
              <a class="text-black" href="<%= dashboard_path %>">Dashboard</a>
            </div>
          </div>
        </div>
      </div>

    <%= render 'layouts/notice' %>

      <div class="container p-0">
        <div class="row">
          <div class="card col-12 col-sm-8 offset-sm-2">
            <div class="label label-success pull-right p-10 text-center">
              <span class="pull-right"><%= @transaction.status %></span><br/>
              <span class="font-35"><%= number_to_currency @transaction.value %></span>
            </div>
          </div>
        </div>
      </div>

      <div class="container paddingBottom-10">
        <div class="row no-gutters">
          <div class="col-12 col-sm-8 offset-sm-2">
            <div class="sub-heading paddingLeft-15 paddingRight-15">
              <h4 class="text-bold">Account Details</h4>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="details list-group">
                  <li class="list-group-item">
                    <div class="container-fluid no-gutters padding-0">
                      <div class="row no-gutters">
                      <div class="col-5">Name</div>
                      <div class="col-7"><label class="details-text"><%= @transaction.eater.member.try(:full_name) %> </label></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="container-fluid no-gutters padding-0">
                      <div class="row no-gutters">
                      <div class="col-5">Bank Name</div>
                      <div class="col-7 text-uppercase"><label class="details-text"><%= @transaction.eater.member.bank.title %></label></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="container-fluid no-gutters padding-0">
                      <div class="row no-gutters">
                      <div class="col-5">Account Number</div>
                      <div class="col-7 text-uppercase"><label class="details-text"><%= @transaction.eater.member.account_number %></label></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="container paddingBottom-10">
              <div class="sub-heading paddingLeft-15 paddingRight-15">
                <h4 class="text-bold">Contact Details</h4>
              </div>
              <div class="row">
                <div class="col-12">
                  <ul class="details list-group">
                    <li class="list-group-item">
                      <div class="container-fluid no-gutters padding-0">
                        <div class="row no-gutters">
                        <div class="col-5">Phone Number</div>
                        <div class="col-7"><label class="details-text"><%= @transaction.eater.member.phone_number %> </label></div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="container-fluid no-gutters padding-0">
                        <div class="row no-gutters">
                        <div class="col-5">Email</div>
                        <div class="col-7"><label class="details-text"><%= @transaction.eater.member.email %></label></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row marginTop-20">
                <div class="col-12">
                  <div class="details btn-group mr-2" role="group" aria-label="First group">
                    <a href="<%= send_money_path(@transaction.id) %>" class="btn btn-danger btn-detail">Send money</a>
                    <%- unless @transaction.receiver_confirmed? %>
                    <a href="<%= settle_path(@transaction.id) %>" class="btn btn-secondary btn-detail">Confirm settlement</a>
                    <%- end %>
                    <a href="<%= dispute_path(@transaction.id) %>" class="btn btn-secondary btn-detail">Dispute transaction</a>                    
                    <a href="<%= @transaction.sender_receipt.url %>" class="btn btn-secondary btn-detail">Sender receipt</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<%- page_title 'Transaction detail' %>