    <section class="content-section dashboard margin-top-50">
      <br/>
      <div class="container p-0">
        <div class="row">
          <div class="card col-12 col-sm-8 offset-sm-2">
          
            <div class="card-panel bg-white  text-grey p-0">
              <%= render 'layouts/notice' %>
            </div>
          </div>
        </div>
      </div>
      <%- target = @transaction.eater.member == current_member ? @transaction.feeder : @transaction.eater %>
      <div class="container p-0">
        <div class="row">
          <div class="card col-12 col-sm-8 offset-sm-2">
            <div class="label-success pull-right p-10 text-center">
              <span class="pull-left"><%= @transaction.status %></span><br/>
              <span class="font-35"><%= number_to_currency @transaction.value %>&nbsp;<i class="fa fa-chevron-circle-<%= @transaction.eater.member == current_member ? "left" : "right" %> pull-right"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="container paddingBottom-10">
        <div class="row no-gutters">
          <div class="col-12 col-sm-8 offset-sm-2">
            <div class="sub-heading paddingLeft-15 paddingRight-15">
              <h4 class="text-bold">Account Details</h4>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="details list-group">
                  <li class="list-group-item">
                    <div class="container-fluid no-gutters padding-0">
                      <div class="row no-gutters">
                      <div class="col-5">Name</div>
                      <div class="col-7"><label class="details-text"><%= target.member.try(:full_name) %> </label></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="container-fluid no-gutters padding-0">
                      <div class="row no-gutters">
                      <div class="col-5">Bank Name</div>
                      <div class="col-7 text-uppercase"><label class="details-text"><%= target.member.bank.title %></label></div>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="container-fluid no-gutters padding-0">
                      <div class="row no-gutters">
                      <div class="col-5">Account Number</div>
                      <div class="col-7 text-uppercase"><label class="details-text"><%= target.member.account_number %></label></div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="container paddingBottom-10">
              <%- unless @transaction.confirmed? %>
              <div class="sub-heading paddingLeft-15 paddingRight-15">
                <h4 class="text-bold">Contact Details</h4>
              </div>
              <div class="row">
                <div class="col-12">
                  <ul class="details list-group">
                    <li class="list-group-item">
                      <div class="container-fluid no-gutters padding-0">
                        <div class="row no-gutters">
                        <div class="col-5">Phone Number</div>
                        <div class="col-7"><label class="details-text"><%= target.member.phone_number %> </label></div>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="container-fluid no-gutters padding-0">
                        <div class="row no-gutters">
                        <div class="col-5">Email</div>
                        <div class="col-7"><label class="details-text"><%= target.member.email %></label></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <%- end %>
              <div class="row marginTop-20">
                <div class="col-12">
                  <div class="details btn-group mr-2" role="group">
                    <%- if current_member.accounts.include? @transaction.feeder %>

                      <%- if !@transaction.sender_confirmed? %>
                        <a href="<%= send_money_path(@transaction.id) %>" class="btn btn-primary m-r-10">
                          <i class="fa fa-chevron-circle-right"></i>
                          Send money
                        </a>
                      <%- else %>
                        <a href="<%= send_money_path(@transaction.id) %>" class="btn btn-default m-r-10">
                          <i class="fa fa-angle-up"></i>
                          Re-upload receipt
                        </a>
                      <%- end %>

                    <%- else %>

                      <%- if !@transaction.receiver_confirmed? and @transaction.sender_confirmed? %>
                      <a href="<%= settle_path(@transaction.id) %>" class="btn btn-primary m-r-10">
                        <i class="fa fa-check"></i>
                        Confirm settlement
                      </a>
                      <%- end %>

                    <%- end %>

                    <%- if @transaction.dispute_allowed? %>
                      <a href="<%= dispute_path(@transaction.id) %>" class="btn btn-default m-r-10">
                        <i class="fa fa-random"></i>
                        Dispute transaction
                      </a> 
                    <%- end %>

                    <%- if @transaction.sender_receipt.url.present? %>
                    <a href="<%= receipt_path @transaction %>" class="btn btn-default m-r-10">
                      <i class="fa fa-file"></i>
                      Download receipt
                    </a>
                    <%- end %>
                    <a class="btn btn-default p-l-20 p-r-20" href="<%= dashboard_path %>">
                      <i class="fa fa-angle-double-left"></i>
                      Dashboard
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<%- page_title 'Transaction detail' %>
