<form class="form-inline float-right">
  <%- if member_signed_in? %>
    <div class="dropdown header hidden-sm-down">
      <a class="btn btn-default-clear font-bold btn-font-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user"></i> 
        <%- if @current_account.present? %>
          <%= @current_account.name %>
        <%- else %>
          Accounts
        <%- end %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <%- for a in current_member.accounts do %>
        <a href="<%= dashboard_path(acc: a.name) %>" class="dropdown-item">
          <i class="fa fa-chevron-right"></i>&nbsp; <%= a.name %>
        </a>
        <%- end %>
        <a href="<%= add_account_path %>" class="dropdown-item">
          <i class="fa fa-plus"></i>&nbsp; Add Account
        </a>
        <a href="<%= edit_member_registration_path %>" class="dropdown-item">
          <i class="fa fa-gear"></i>&nbsp; Account Setting
        </a>
      </div>
    </div>
    <a href="<%= destroy_member_session_path %>" class="btn btn-default-clear font-bold btn-font-sm">
      <i class="fa fa-key"></i> Logout
    </a>
  <%- else %>
    <a href="<%= new_member_session_path %>" class="btn btn-default-clear font-bold btn-font-sm">
      <i class="fa fa-key"></i> Login
    </a>
    <a href="<%= new_member_registration_path %>" class="btn btn-default-clear font-bold btn-font-sm">
      <i class="fa fa-user"></i> Sign up
    </a>
  <%- end %>  
</form>   