    <div class="aside">
        <div class="aside-header">
            Menu
        </div>
        <div class="aside-contents" id="asideMenu">
            <ul class="list-group">
              <li class="list-group-item dropdown">
                <%- if !member_signed_in? or (member_signed_in? and !current_member.super_admin?) %>
                <a href="#" data-toggle="collapse" data-target="#list01" data-parent="#asideMenu"><i class="fa fa-user" aria-hidden="true"></i> Acounts</a>
                <%- end %>
                <ul id="list01" class="sublist-item collapse clearfix">

                  <%- if member_signed_in? %>
                    <%- if !current_member.super_admin? %>
                      <%- for account in current_member.accounts do %>
                        <li class="">
                          <a href="<%= dashboard_path(acc: account.name) %>">
                            <i class="fa fa-chevron-right <%= 'fa-chevron-circle-right' if account.name == @current_account.name  rescue "" %>"></i>
                            <%= account.name %>
                          </a>
                        </li>
                      <%- end %>
                      <li class="">
                        <a href="<%= add_account_path %>">
                          <i class="fa fa-plus"></i>
                          Add Account
                        </a>
                      </li>  
                    <%- end %>
                  <%- else %>
                    <li class="">
                      <a href="<%= new_member_session_path %>">
                        Login
                      </a>
                    </li>
                  <%- end %>

                </ul>
              </li>
              <%- if member_signed_in? %>
                <%- unless current_member.regular_member? %>
                  <li class="list-group-item">
                    <a href="<%= transactions_path %>"><i class="fa fa-exchange" aria-hidden="true"></i> Transactions</a>
                  </li>     
                  <li class="list-group-item">
                    <a href="<%= disputes_path %>"><i class="fa fa-random" aria-hidden="true"></i> Disputes <label class="label label-default"><%= Transaction.failed.count %></label></a>
                  </li>                                     
                  <li class="list-group-item">
                    <a href="<%= members_path %>"><i class="fa fa-users" aria-hidden="true"></i> Members</a>
                  </li>   
                    <%- if current_member.super_admin? or current_member.group_admin? %>
                      <li class="list-group-item">
                        <a href="<%= groups_path %>"><i class="fa fa-clone" aria-hidden="true"></i> Groupements</a>
                      </li> 
                      <li class="list-group-item">
                        <a href="<%= add_super_user_path %>"><i class="fa fa-plus" aria-hidden="true"></i> Add Super User</a>
                      </li>                                               
                      <li class="list-group-item">
                        <a href="<%= add_pool_path %>"><i class="fa fa-plus" aria-hidden="true"></i> Add Pool</a>
                      </li>   
                      <li class="list-group-item">
                        <a href="<%= add_group_path %>"><i class="fa fa-plus" aria-hidden="true"></i> Add Groupement</a>
                      </li>                                                                        
                    <%- end %>                                           
                <%- end %>
                <li class="list-group-item">
                  <a href="<%= edit_member_registration_path %>"><i class="fa fa-cog" aria-hidden="true"></i>Account Setting</a>
                </li>                
              <%- end %>

              <li class="list-group-item">
                <a href="<%= support_path %>"><i class="fa fa-question-circle" aria-hidden="true"></i>Support</a>
              </li>
            </ul>
        </div>
    </div>