<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>PlayKutu | <%= yield(:title).to_s.blank? ? "Welcome to PlayKutu" : yield(:title) %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="PlayKutu" name="description" />
    <meta content="PlayKutu" name="author" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <%= stylesheet_link_tag "application", media: :all %>
  </head>
  

  <body class="bg--white">
    <div class="pageload">
        <div class="loader"></div>
        <div class="text-loader">loading...</div>
    </div>

    <%= render 'layouts/sidebar' %>
    <div class="aside-backdrop"></div>

    <header class="<%= 'header--white' if params[:controller] == 'home' and params[:action] == 'index' %>">
      <div class="navbar navbar-inverse bg-default container">
        <div class="container-fluid no-gutters container-no-pad">
          <div class="row no-gutters">
            <div class="col-md-5 col-lg-5 col-sm-5 col-6 text-left text-left-xs">
              <button class="navbar-toggler" type="button" onclick="$('.aside').asidebar('open')" aria-label="Toggle navigation">
                <span class="menu-logo"></span>
              </button>
              <a class="navbar-brand strong-logo" href="<%= root_path %>">
                PlayKutu
              </a>
            </div>
            <div class="col-md-7 col-lg-7 col-sm-7 col-6">
            <form class="form-inline float-right">
              <%- if member_signed_in? %>

                  <div class="dropdown header hidden-sm-down">
                    <button class="btn btn-default-clear font-bold btn-font-sm dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-user"></i> Accounts
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <%- for a in current_member.accounts do %>
                      <button class="dropdown-item" type="button"><i class="fa fa-chevron-right"></i>&nbsp; <%= a.name %></button>
                      <%- end %>
                      <button class="dropdown-item" type="button"><i class="fa fa-plus"></i>&nbsp; Add Account</button>
                    </div>
                  </div>
              <%- if false %>
              <a href="<%= dashboard_path %>" class="btn btn-default-clear font-bold btn-font-sm"><i class="fa fa-bar-chart-o"></i> Dashboard</a>
              <a href="<%= transactions_path %>" class="btn btn-default-clear font-bold btn-font-sm"><i class="fa fa-exchange"></i> Transactions</a>
              <%- end %>
              <a href="<%= destroy_member_session_path %>" class="btn btn-default-clear font-bold btn-font-sm"><i class="fa fa-key"></i> Logout</a>
              <%- else %>
              <a href="<%= new_member_session_path %>" class="btn btn-default-clear font-bold btn-font-sm"><i class="fa fa-key"></i> Login</a>
              <a href="<%= new_member_registration_path %>" class="btn btn-default-clear font-bold btn-font-sm"><i class="fa fa-user"></i> Signup</a>
              <%- end %>  
              </form>          
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <div class="wrap-content">
      <%#= render 'layouts/notice' %>
      <%= yield %>
    </div>

    <footer class="text-muted footer-section"> 
      <div class="container">   
        <div class="row">
          <div class="col text-center">
            <small>Copyright &copy; 2017. PlayKutu.com</small>
          </div>
        </div>
      </div>
    </footer>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>